.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: #478043;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 17px;
}

.navbar-expand-lg .navbar-nav .btn {
  font-size: 17px !important;
}

.dropdown-menu .nav .nav-link {
  color: #555555 !important;
}

.dropdown-menu .nav .nav-link h5 {
  padding-bottom: 3px;
  border-bottom: 1px solid #BCD5B9;
  color: #173213;
}

.dropdown-menu .nav .nav-link:hover {
  color: #E7754F !important;
}

.dropdown-menu .nav .nav-link h5:hover {
  color: #E7754F !important;
}
.dropdown-menu {
  padding: 0 !important;
}
.dropdown-menu[data-bs-popper] {

  margin-top: 0 !important;
}

@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	

@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
      overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
