<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer py-5">
    <div class="container">
        <div class="row mb-3 d-flex algin-items-center">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Careers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Clinical Research</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Press</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 text-center">
            <img class="img-fluid" src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Logos/foodsmart-logo-w.png" alt="" width="170">
          </div>
          <div class="col-sm-12 col-md-12 col-lg-5">
            <ul class="nav float-end">
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Strategic Partnerships</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Site Map</a>
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row mb-5">
          <div class="col">
            <ul class="nav justify-content-center social">
              <li class="nav-item">
                <a class="nav-link text-center" href="#">
                  <img src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Icons/facebook-f-brands.svg" alt=""> 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Icons/twitter-brands.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Icons/instagram-brands.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Icons/linkedin-in-brands.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Icons/vimeo-v-brands.svg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row d-flex align-item-center copyright">
          <div class="col-sm-12 col-md-12 col-lg-3">

          </div>
          <div class="col-sm-12 col-md-12 col-lg-3 text-center">
              <p>
                <a href="">
                  California Transparency in Supply Chains Policy
                </a>
              </p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-3 text-center">
              <p>
                <a href="">
                  Environmental & Sustainability  Policy
                </a>
              </p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-3">

          </div>
        </div>
        <div class="row d-flex align-item-center copyright">
          <div class="col text-center">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <p class="nav-link">© {{ year }} Company Here</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
</footer>
