<!--
  templateType: global_partial
  label: Website header
-->

<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="img-fluid" src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Logos/foodsmart-logo-w.png" alt="" width="170">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Members</a>
          <div class="dropdown-menu megamenu pb-4" role="menu">
            <div class="deep-green-bg p-2 mb-3">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="text-white">Members Home <img class="img-fluid ms-1" src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Icons/chevron-right-regular-w.png" alt="" width="6"></h5>
                  </div> 
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Become a Member</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>What we Treat</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Managed Care - Illnesses & Conditions
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Preventative Care & Wellbeing
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Nutrition Counseling</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Our Dietitians
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Schedule an Appointment</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Resources</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Mobile App
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Member FAQs
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Member Community
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Contact Us</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Login</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Support</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Blog</h5>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Health Plans</a>
          <div class="dropdown-menu megamenu pb-4" role="menu">
            <div class="deep-blue-bg p-2 mb-3">
              <div class="container">
                <div class="row d-flex align-items-center">
                  <div class="col">
                    <h5 class="text-white">Health Plans Home <img class="img-fluid ms-1" src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Icons/chevron-right-regular-w.png" alt="" width="6"></h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Medicaid Plans</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Medicare Plans</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Special Needs Plans (SNP)</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Commercial Plans</h5>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Why Foodsmart</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Food Insecurity
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Chronic Conditions
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Marketing Support
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Value Based Care
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Request for Information</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Schedule a Demo</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>B2B Foodcare Blog</h5>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Employers</a>
          <div class="dropdown-menu megamenu pb-4" role="menu">
            <div class="deep-purple-bg p-2 mb-3">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="text-white">Members Home <img class="img-fluid ms-1" src="https://f.hubspotusercontent40.net/hubfs/21617192/Foodsmart%20Theme/Icons/chevron-right-regular-w.png" alt="" width="6"></i></h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Cigna Case Study Whitepaper</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Food Insecurity Whitepaper</h5>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Retention & Engagement</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Request for Information</h5>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Schedule a Demo</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <h5>Request for Information</h5>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="#"> Why Nutrition</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      </ul>
      <form class="d-flex ml-5">
        <a class="btn btn-orange ms-3">Get started</a>
      </form>
    </div> <!-- navbar-collapse.// -->
  </div> <!-- container-fluid.// -->
  </nav>